body {
    position: relative;
}

.btn {
    position: relative;
}

.customBtn {
    width: 150px;
}

.welcome {
    position: relative;
    margin: auto;
    align-self: center;
    color: #aaa;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#liveAlertPlaceholder {
    position: relative;
    align-self: end;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

.userBtn {
    width: 200px;
}

.user2Btn {
    width: 100px;
}

.threadBtn {
    width: 270px;
    margin: 0px 10px 0px 0px;
}