<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <title>Corresponder</title>

  </head>
  <body>

    {% if session.username %}
        {% block navbar %}
            <div class="container align-content-center" style="width: 750px">
            <nav class="navbar navbar-expand-lg bg-dark mx-3">
              <a class="navbar-brand mx-3 align-self-start" href="/">Corresponder</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse align-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" id="users">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item" id="correspondence">
                        <a class="nav-link" href="/correspondence">Correspondence</a>
                    </li>
                    <li class="nav-item" id="profile">
                        <a class="nav-link" href="/profile">Profile ({{ session.alias }})</a>
                    </li>
                    <li class="nav-item" id="logout">
                        <a class="nav-link" href="/logout_user">Logout</a>
                    </li>
                </ul>

<!-- Toast for notifications -->
                <div class="toast-container position-fixed top-0 end-0 mx-2">
                  <div id="myToast" class="toast align-items-center" data-animation="true" data-autohide="true" data-delay="500" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex justify-content-between">
                        <div class="toast-body">
                            <p id="toast-text"></p>
                        </div>
                        <button id="toastDismiss" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                  </div>
                </div>

              </div>
            </nav>
        </div>
        {% endblock %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="../static/js/app.js"></script>

    <script>
        window.onload = (event) => {
        console.log(event)
        if ("{{ toastText }}") {
            document.getElementById("toast-text").innerHTML = "{{ toastText }}";
            $("#myToast").show();
            setTimeout(function() { $("#myToast").hide() }, 3000);
            }
        }

        $(document).ready(function(){
            $("#toastDismiss").click(function(){
                $("#myToast").hide()
            });
        });
    </script>

  </body>
</html>