<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>Enter your information:</p>
    <form action="/new_user" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <p>Alias:<br>
    <input type="text" name="alias"></p>
        <p>Visible to others:<br>
    <input type="checkbox" name="visible"></p>
    <input type="submit" value="Login">
    </form>
    <p><span>Or </span><a href="/">go back.</a></p>

</body>
</html>