{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    {% if session.username %}

    <div>
        <h1 class="welcome centered">Welcome {{ session.alias }}</h1>
    </div>

    {% else %}

    <div class="container centered w-25 p-5">
        <form action="/login_user" method="POST">
                <div class="form-floating">
                    <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="w-50 py-2">
                    <input type="submit" value="Login" class="form-control" id="submit">
                </div>
        </form>
        <div>
            <p><span>Or </span>
                <a class="icon-link icon-link-hover" href="/register_user">
                    register a new user
                </a>
            </p>
        </div>
    </div>

    {% endif %}

{% endblock %}