{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Index</title>#}
{#</head>#}
{#<body>#}
{##}
{#    {% if session.username %}#}
{##}
{#        <span>You are logged in as {{ session.username }}.</span>#}
{#        {% if session.visibility %}#}
{#            <span>Others can see you.</span>#}
{#        {% else %}#}
{#            <span>Only your contacts can see you.</span>#}
{#        {% endif %}#}
{#        <span>They know you as {{ session.alias }}.</span>#}
{#        <span>Want to </span><a href="/logout_user">logout</a><span> {{ session.alias }}?</span>#}
{##}
{#        <p>Contacts</p>#}
{#            <ul>#}
{#            {% for contact in contacts %}#}
{#                <li> {{ contact }}#}
{#            {% endfor %}#}
{#            </ul>#}
{#        <p>Message threads</p>#}
{#            <ul>#}
{#                {% for thread in threads %}#}
{#                    <li> {{ thread }}#}
{#                {% endfor %}#}
{#            </ul>#}
{##}
{#    {% else %}#}
{##}
{#        <p>Enter your login information:</p>#}
{#        <form action="/login_user" method="POST">#}
{#        <p>Username:<br>#}
{#        <input type="text" name="username"></p>#}
{#        <p>Password:<br>#}
{#        <input type="password" name="password"></p>#}
{#        <input type="submit" value="Login">#}
{#        </form>#}
{#        <p><span>Or </span><a href="/register_user">register a new user</a></p>#}
{##}
{#    {% endif %}#}
{##}
{#</body>#}
{#</html>#}